services:

  backend:
    build:
      context: .
      dockerfile: Backend/Dockerfile
    env_file:
      - Backend/.env
    ports:
      - "8000:8000"
    volumes:
      - ./Backend:/app
      - ./Backend/logs:/app/logs




  frontend:
    image: python:3.12-slim
    working_dir: /app
    volumes:
      - ./Frontend:/app
    ports:
      - "8080:8080"
    command: sh -lc "python -m http.server 8080"
    depends_on:
      - backend

volumes:
  backend_venv:
